@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");

/* @import url("https://use.typekit.net/qmj6eos.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'kallisto';
  src: url('/fonts/kallisto-medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kallisto';
  src: url('/fonts/kallisto-bold.otf') format('otf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'kallisto';
  src: url('/fonts/kallisto-light.otf') format('otf');
  font-weight: light;
  font-style: light;
}


html {
  font-family: "Nunito Sans", sans-serif;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
 background-color:  hsl(240, 6%, 10%);
}

::-webkit-scrollbar-thumb {
   background-color:  #3f3f46;
  border-radius: 100vw;
 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 hsl(240, 6%, 10%);
}

/* Custom range input for volume slide */

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #10b981;
  cursor: pointer;
  border-radius: 50%;
}

.volume-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #10b981;
  border: none;
}